#if (${useQuickLinks} && ${userIsLoggedIn})
        <div class="offcanvas offcanvas-end" tabindex="-1" id="sakai-quickLinksPanel" aria-labelledby="sakai-quickLinksPanelLabel">
          <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="sakai-quickLinksPanelLabel">${rloader.sit_quick_links}</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close this quick links panel"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="nav flex-column">
            <script type="text/javascript">
            var quickLinksLists = ${rloader.sit_quick_links_lists};
            for (var i = 0; i < quickLinksLists.length; i++) {
              document.write('<li class="nav-item"><a class="nav-link" href="' + quickLinksLists[i].url + '" target="_blank">' + quickLinksLists[i].title + '</a></li>');
            };
            </script>
            </ul>
          </div>
        </div>
#end